n8n/route1_workflow.json
{
  "name": "Helpdesk Casus – Route 1 (HTTP CSV)",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Loekie1103/educom-helpdesk-n8n-loek/main/casus_data/demo-data/tickets.csv",
        "method": "GET",
        "responseFormat": "file",
        "options": {
          "ignoreSSLIssues": true
        }
      },
      "name": "HTTP Request - Get tickets.csv",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "data",
        "fileFormat": "csv",
        "options": {
          "fromBinary": true,
          "headerRow": true,
          "delimiter": ",",
          "encoding": "UTF-8"
        }
      },
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * P2: PII Redaction & Date Formatting\n * Redacts PII and converts Excel decimal/serial date formats into clean ISO dates.\n */\nfunction excelDateToISO(serial) {\n  const num = parseFloat(serial);\n  if (isNaN(num)) return serial;\n  const excelEpoch = new Date(1899, 11, 30);\n  const days = Math.floor(num);\n  const ms = Math.round((num - days) * 24 * 60 * 60 * 1000);\n  const date = new Date(excelEpoch.getTime() + days * 24 * 60 * 60 * 1000 + ms);\n  return date.toISOString().replace('T', ' ').substring(0, 19);\n}\n\nreturn items.map(item => {\n  let body = item.json.body || '';\n  let subject = item.json.subject || '';\n  let created_at = item.json.created_at || '';\n\n  // Convert date if it is an Excel serial format\n  if (created_at && !isNaN(parseFloat(created_at))) {\n    created_at = excelDateToISO(created_at);\n  }\n\n  // Regex for emails\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\n  // Regex for Dutch phone numbers (e.g. 06-12345678, +31 6 12345678)\n  const phoneRegex = /(?:\\+31|0)(?:\\s?\\d){9}/g;\n  // Regex for BSN-like 9 digit strings\n  const bsnRegex = /\\b\\d{9}\\b/g;\n\n  body = body.replace(emailRegex, '[EMAIL_REDACTED]');\n  body = body.replace(phoneRegex, '[PHONE_REDACTED]');\n  body = body.replace(bsnRegex, '[BSN_REDACTED]');\n\n  subject = subject.replace(emailRegex, '[EMAIL_REDACTED]');\n  subject = subject.replace(phoneRegex, '[PHONE_REDACTED]');\n  subject = subject.replace(bsnRegex, '[BSN_REDACTED]');\n\n  return {\n    json: {\n      ...item.json,\n      created_at,\n      body,\n      subject\n    }\n  };\n});"
      },
      "name": "P2 - Redact PII",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * P3 Triage & P4 Concept Reply\n * Categorizes tickets, scores confidence, routes using config keywords, and drafts a reply.\n */\nconst categories = [\n  { id: \"CAT_ACCESS_ACCOUNT\", keywords: [\"password\", \"wachtwoord\", \"mfa\", \"2fa\", \"login\", \"inloggen\", \"access\", \"toegang\", \"permissions\", \"rechten\"], queue: \"Q_IDENTITY_ACCESS\" },\n  { id: \"CAT_M365_COPILOT\", keywords: [\"m365 copilot\", \"copilot outlook\", \"copilot word\", \"copilot teams\", \"prompt\", \"copilot policy\", \"copilot licentie m365\"], queue: \"Q_M365\" },\n  { id: \"CAT_GH_COPILOT\", keywords: [\"github copilot\", \"copilot for github\", \"copilot seat\", \"copilot license\", \"copilot extension\", \"vs code copilot\", \"jetbrains copilot\"], queue: \"Q_DEVELOPER_EXPERIENCE\" },\n  { id: \"CAT_SOFTWARE_INSTALL\", keywords: [\"install\", \"installer\", \"update\", \"msi\", \"pkg\", \"admin rights\", \"permissions\", \"intune\", \"company portal\"], queue: \"Q_IT_SERVICE_DESK\" },\n  { id: \"CAT_VPN_REMOTE\", keywords: [\"vpn\", \"remote\", \"citrix\", \"anyconnect\", \"tunnel\", \"certificate\", \"certificaat\", \"timeout\"], queue: \"Q_NETWORK\" },\n  { id: \"CAT_NETWORK_WIFI\", keywords: [\"wifi\", \"wi-fi\", \"lan\", \"dns\", \"proxy\", \"network\", \"verbinding\", \"connectivity\", \"dhcp\", \"ip address\"], queue: \"Q_NETWORK\" },\n  { id: \"CAT_HARDWARE_DEVICE\", keywords: [\"laptop\", \"dock\", \"docking\", \"battery\", \"keyboard\", \"touchpad\", \"monitor\", \"slow\", \"performance\", \"overheat\"], queue: \"Q_WORKPLACE\" },\n  { id: \"CAT_PRINTER\", keywords: [\"printer\", \"print\", \"scan\", \"scanner\", \"driver\", \"queue\", \"spooler\", \"toner\"], queue: \"Q_WORKPLACE\" },\n  { id: \"CAT_ONBOARDING_HR\", keywords: [\"onboarding\", \"new hire\", \"contract\", \"declaratie\", \"hr\", \"payroll\", \"vacation\", \"verlof\", \"hr portal\"], queue: \"Q_HR\" },\n  { id: \"CAT_PROCUREMENT_BILLING\", keywords: [\"invoice\", \"factuur\", \"billing\", \"purchase\", \"po\", \"order\", \"kostenplaats\", \"procurement\", \"inkoop\"], queue: \"Q_FINANCE_PROCUREMENT\" }\n];\n\nreturn items.map(item => {\n  const ticket = item.json;\n  const content = ((ticket.subject || '') + ' ' + (ticket.body || '')).toLowerCase();\n  \n  let bestCat = null;\n  let maxMatches = 0;\n\n  // Basic keyword matcher\n  categories.forEach(cat => {\n    let matches = 0;\n    cat.keywords.forEach(kw => {\n      if (content.includes(kw.toLowerCase())) {\n        matches++;\n      }\n    });\n    if (matches > maxMatches) {\n      maxMatches = matches;\n      bestCat = cat;\n    }\n  });\n\n  let category = \"CAT_OTHER\";\n  let confidence = \"low\";\n  let route_to = \"Q_IT_SERVICE_DESK\";\n  let route_reason = \"No clear keywords found, routed to main desk.\";\n\n  if (bestCat) {\n    category = bestCat.id;\n    route_to = bestCat.queue;\n    if (maxMatches >= 3) {\n      confidence = \"high\";\n      route_reason = `Matched ${maxMatches} keywords for ${bestCat.id}.`;\n    } else {\n      confidence = \"medium\";\n      route_reason = `Matched ${maxMatches} keyword(s) for ${bestCat.id}.`;\n    }\n  }\n\n  // P4 Concept Answer (Only if routed, i.e., queue is not Q_IT_SERVICE_DESK)\n  let draft_reply = \"\";\n  if (route_to !== \"Q_IT_SERVICE_DESK\") {\n    draft_reply = `Beste medewerker,\\n\\nBedankt voor uw melding. We hebben uw ticket gecategoriseerd onder ${category} en doorgezet naar het specialistische team (${route_to}). Zij nemen dit zo snel mogelijk in behandeling.\\n\\nMet vriendelijke groet,\\nIT Service Desk Support`;\n  }\n\n  return {\n    json: {\n      ...ticket,\n      category,\n      confidence,\n      route_to,\n      route_reason,\n      draft_reply\n    }\n  };\n});"
      },
      "name": "P3 & P4 - Triage & Draft Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "firstTicketSubject",
              "value": "={{$json[0].subject}}"
            },
            {
              "name": "firstTicketCategory",
              "value": "={{$json[0].category}}"
            },
            {
              "name": "firstTicketRoute",
              "value": "={{$json[0].route_to}}"
            },
            {
              "name": "firstTicketDate",
              "value": "={{$json[0].created_at}}"
            }
          ]
        }
      },
      "name": "Set - Preview Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request - Get tickets.csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get tickets.csv": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "P2 - Redact PII",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2 - Redact PII": {
      "main": [
        [
          {
            "node": "P3 & P4 - Triage & Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P3 & P4 - Triage & Draft Reply": {
      "main": [
        [
          {
            "node": "Set - Preview Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "1"
}